{% extends "layout.html" %}
{% block content %}
<h1>Welcome</h1>
<p>
  This page is built and maintained by me, Alice Anlind.
  The purpose is to have a place to experiment with different 
  tools, but also sometimes to build things that I find useful.
  If you find it useful I am very happy to hear that and you are 
  free to use it as long as you do not use it for malitious use.
</p>

{% endblock content %}