{% extends "layout.html" %}
{% block content %}
<h1>Models</h1>
<p>
    Here we try to visualize the result of different models made by 
    different people.
</p>

<div id="root"></div>
<div class="chart-container" style="position: relative; height:60vh; width:80vw">
    <canvas id='chartTest'></canvas>
</div>
<!-- Load ChartJs-->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const labels = {{ dates|safe }};
  const data_cases = {{ cases|safe }};
  const data_model0 = {{ model_0|safe}};
  const data_model1 = {{ model_1|safe}};
  const labels_iva = {{ dates_iva|safe }};
  const data_cases_iva = {{ cases_iva|safe }};
  const data_model0_iva = {{ model_0_iva|safe}};
  const data_model1_iva = {{ model_1_iva|safe}};
  const labels_slutenv = {{ dates_slutenv|safe }};
  const data_cases_slutenv = {{ cases_slutenv|safe }};
  const data_model0_slutenv = {{ model_0_slutenv|safe}};
  const data_model1_slutenv = {{ model_1_slutenv|safe}};
</script>
<script src="../static/models.js" type="text/babel"></script>

{% endblock content %}
