{% extends "layout.html" %}
{% block content %}
<h1>Wellstep results</h1>
<p>
    The Wellstep results from Unibap recalculated based on when people started.
</p>

<table>
<tr>
        <th>Plats</th>
        <th>Namn</th>
        <th>Lag</th>
        <th>Poäng</th>
        <th>Poäng/dag</th>
</tr>
{% for key,value in scores.iterrows() %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ value['Namn'] }}</td>
        <td>{{ value['Lag'] }}</td>
        <td>{{ value['Poäng'] }}</td>
        <td>{{ value['Poäng/dag'] }}</td>
    </tr>
{% endfor %}
</table>

<table>
<tr>
        <th>Plats</th>
        <th>Lag</th>
        <th>Poäng</th>
</tr>
{% for team,value in team_scores.iterrows() %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ team }}</td>
        <td>{{ value['Poäng'] }}</td>
    </tr>
{% endfor %}
</table>

<p>
    In total we reached {{ total }} points! Good job!
</p>
{% endblock content %}